requests>=2.32.3
Pillow>=10.3.0
python-dotenv>=1.0.1
markdown>=3.6
google-auth>=2.48.1
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.129.0
beautifulsoup4>=4.11.1
# DALL-E 사용 시 아래 주석 해제
# openai>=1.30.0
